@keyframes arrow {
  from, to {
    bottom: 7%;
    transform: none; }
  50% {
    bottom: 6%;
    transform: scale(1.1, 1.1); } }
@keyframes titre-shine {
  from, to {
    text-shadow: none; }
  25% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.8); }
  50% {
    text-shadow: none; } }
@keyframes titre-slide {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(40vh);
    opacity: 1; } }
@keyframes titre-slide-768 {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(20vh);
    opacity: 1; } }
.section1 {
  top: 7%; }

.section2 {
  top: 17%; }

.section3 {
  top: 27%; }

.section4 {
  top: 37%; }

.btn-section {
  border-bottom: solid white 1px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 1em;
  transition: all 0.3s;
  cursor: pointer; }
  .btn-section:hover {
    text-shadow: 0 0 5px white; }

.transform1 {
  transform: rotate(0deg);
  width: 55%;
  left: 18%;
  top: 3%;
  height: 85%;
  background-color: rgba(128, 0, 0, 0.3); }

.transform2 {
  transform: rotate(0deg);
  width: 55%;
  left: 18%;
  top: 3%;
  height: 85%;
  background-color: rgba(204, 0, 153, 0.3); }

.transform3 {
  transform: rotate(0deg);
  width: 55%;
  left: 18%;
  top: 3%;
  height: 85%;
  background-color: rgba(102, 0, 204, 0.3); }

.transform4 {
  transform: rotate(0deg);
  width: 55%;
  left: 18%;
  top: 3%;
  height: 85%;
  background-color: rgba(0, 51, 204, 0.3); }

.bg-couleur-1 {
  background-color: rgba(128, 0, 0, 0.3); }

.bg-couleur-1b {
  background-color: rgba(128, 0, 0, 0.1); }

.bg-couleur-2 {
  background-color: rgba(204, 0, 153, 0.1); }

.bg-couleur-2b {
  background-color: rgba(204, 0, 153, 0.1); }

.bg-couleur-3 {
  background-color: rgba(102, 0, 204, 0.3); }

.bg-couleur-3b {
  background-color: rgba(102, 0, 204, 0.1); }

.bg-couleur-4 {
  background-color: rgba(0, 51, 204, 0.3); }

.bg-couleur-4b {
  background-color: rgba(0, 51, 204, 0.1); }

header {
  z-index: 2;
  position: relative;
  border-bottom: solid 2px rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100vh;
  color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 768px) {
    header {
      height: 80vh; } }
  header .langues {
    position: fixed;
    top: 2%;
    right: 2%; }
    @media (max-width: 768px) {
      header .langues {
        position: absolute; } }
  header button {
    background-color: #151515;
    cursor: pointer; }
    header button a {
      text-decoration: none;
      font-family: "Lustria", serif;
      font-size: 1.2em;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8); }
  header .titre {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    animation-name: titre-slide;
    animation-duration: 2s;
    animation-fill-mode: forwards; }
    @media (max-width: 768px) {
      header .titre {
        animation-name: titre-slide-768; } }
    header .titre .effect {
      height: 100%;
      width: 25%;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: opacity 1s; }
      @media (max-width: 768px) {
        header .titre .effect {
          display: none; } }
      header .titre .effect:hover {
        opacity: 0.5; }
    header .titre .effect1 {
      left: 0;
      background: linear-gradient(to right, transparent, rgba(128, 0, 0, 0.3), transparent); }
    header .titre .effect2 {
      left: 25%;
      background: linear-gradient(to right, transparent, rgba(204, 0, 153, 0.3), transparent); }
    header .titre .effect3 {
      left: 50%;
      background: linear-gradient(to right, transparent, rgba(102, 0, 204, 0.3), transparent); }
    header .titre .effect4 {
      left: 75%;
      background: linear-gradient(to right, transparent, rgba(0, 51, 204, 0.3), transparent); }
    header .titre .nom {
      background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6), transparent);
      border-top: solid 1px rgba(255, 255, 255, 0.8);
      border-bottom: solid 1px rgba(255, 255, 255, 0.8);
      font-family: "Alex Brush", cursive;
      font-size: 8em;
      animation-name: titre-shine;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
      @media (max-width: 768px) {
        header .titre .nom {
          font-size: 3.5em; } }
    header .titre .sous-titre {
      font-family: "Lustria", serif;
      font-size: 2em;
      font-style: italic;
      text-align: right;
      border-bottom: solid rgba(255, 255, 255, 0.8) 1px;
      padding-right: 20px;
      background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6)); }
      @media (max-width: 768px) {
        header .titre .sous-titre {
          font-size: 1em; } }

#fleche1 {
  width: 60px;
  position: absolute;
  bottom: 7%;
  right: 15%;
  z-index: 50;
  cursor: pointer; }
  @media (max-width: 768px) {
    #fleche1 {
      width: 30px; } }
  #fleche1:hover {
    animation-name: arrow;
    animation-duration: 1s; }

#fleche2 {
  width: 60px;
  position: absolute;
  bottom: 7%;
  left: 15%;
  z-index: 50;
  cursor: pointer; }
  @media (max-width: 768px) {
    #fleche2 {
      width: 30px; } }
  #fleche2:hover {
    animation-name: arrow;
    animation-duration: 1s; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #151515;
  text-align: center;
  overflow-x: hidden; }

.static-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: all 0.8s;
  filter: contrast(115%); }
  @media (max-width: 768px) {
    .static-bg {
      display: none; } }

.blurred {
  filter: contrast(115%) blur(3px); }

main {
  z-index: 2;
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 2s; }
  main section {
    border: solid rgba(50, 50, 50, 0.5) 4px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 10px;
    width: 20%;
    height: 400px;
    position: absolute;
    left: -11%;
    transform: rotate(30deg);
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s;
    font-family: "Lustria", serif;
    font-size: 1.2em;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4); }
    @media (max-width: 769px) {
      main section {
        transform: none;
        left: 0;
        font-size: 0.9em;
        height: 100px; } }
  main .content {
    text-align: left;
    padding: 5%;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 10px 5px 4px black; }
    main .content ul {
      list-style-type: none; }
    main .content p {
      margin-top: 10px; }
    main .content dt {
      font-size: 1.5em;
      font-style: italic; }
    main .content dd {
      font-weight: normal; }
    main .content .section-sous-titre {
      text-align: center;
      font-size: 1.4em;
      margin-bottom: 1.4em; }

.contact {
  border: solid rgba(50, 50, 50, 0.5) 4px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 18%;
  right: 0%;
  overflow: hidden;
  border-radius: 10px;
  width: 20%;
  font-family: "Lustria", serif;
  font-size: 1em;
  line-height: 2em;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 5px 5px 5px;
  transition: background-color 1s;
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  filter: contrast(120%) grayscale(20%); }
  @media (max-width: 768px) {
    .contact {
      top: 60%;
      left: 0;
      width: 50%; } }
  @media (max-width: 768px) {
    .contact {
      display: none; } }
  .contact a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: text-shadow 0.5s; }
    .contact a:hover {
      text-decoration: none;
      text-shadow: 0 0 2px white; }
  .contact .logo {
    opacity: 0.6;
    transition: all 0.3s; }
    .contact .logo:hover {
      opacity: 1; }

.hidden {
  opacity: 0;
  transition: opacity 1s; }

/*# sourceMappingURL=main.css.map */
