@import 'var'
@import 'mixin'
@import 'animations'
@import 'menu'
@import 'header'


//BG

*
    margin: 0
    padding : 0

body
    background-color: $black
    text-align: center
    overflow-x: hidden

.static-bg
    position: fixed
    top: 0
    left: 0
    z-index: 1
    width: 100%
    transition: all 0.8s
    filter: contrast(115%)
    @media (max-width: 768px)
        display: none

.blurred
    filter: contrast(115%) blur(3px)


//MAIN

main
    z-index: 2
    position: relative
    overflow: hidden
    height: 100vh
    padding-top : 20px
    background-color: rgba(0,0,0,0.4)
    transition: background-color 2s
    section
        @include custom-border
        display: inline-block
        padding: 10px
        width: 20%
        height: 400px
        position: absolute
        overflow: hidden
        transition: all 1s
        border-radius: 10px
        left: -11%
        font-family: $font1
        font-size: 1.2em
        line-height: 1.4em
        color: $white
        background-color: rgba(0,0,0,0.4)

.content
    text-align: left
    padding: 5%
    font-size: 0.8em
    font-weight: bold
    text-shadow: 10px 5px 4px black
    ul
        list-style-type: none
    p
        margin-top: 10px
    dt
        font-size: 1.5em
        font-style: italic
    dd
        font-weight: normal
.contact
    @include custom-border
    position: absolute
    top: 18%
    right: 0%
    overflow: hidden
    border-radius: 10px
    width: 20%
    //background-color: rgba(0,0,0,0.4)
    font-family: $font1
    font-size: 1em
    line-height: 2em
    color: $white
    padding: 15px 5px 5px 5px
    transition: background-color 1s
    #photo
        display: block
        margin: 0 auto
        width: 80%
        border-radius: 10px
        filter: contrast(120%) grayscale(20%)
    a
        text-decoration: none
        color: $white
        transition: text-shadow 0.5s
        &:hover
            text-decoration: none
            text-shadow: 0 0 2px white
    .logo
        opacity: 0.6
        transition: all 0.3s
        &:hover
            opacity: 1




.hidden
    opacity: 0
    transition: opacity 1s
